#quiz-edit-dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#quiz-edit-dialog-title-column {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

#quiz-edit-dialog-content {
  background-color: #dddddd;
}

.quiz-edit-dialog-content-question-text,
.quiz-edit-dialog-quiz-title,
.quiz-edit-dialog-quiz-description,
.quiz-edit-dialog-content-question-answer-row {
  justify-content: space-between;
}

.quiz-edit-dialog-content-question-answer-row-text {
  flex-grow: 1;
  align-self: center;
}

.quiz-edit-dialog-content-question-answer-row {
  cursor: pointer;
  &:hover {
    background-color: rgba(255,255,255,0.2);
  }
}