.quiz-card {
    margin: 24px;
    cursor: pointer;
    min-width: 220px;
    max-width: 220px;
    text-align: start;
    text-overflow: ellipsis;
}

.quiz-card-header {
    background-color: lightgrey;
}